<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>
      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= fields_for :recruiter, @job.recruiter do |recruiter| %>

    <div class="columns">
      <div class="column is-2">
        <%= recruiter.label :name, "Recruiter" %>
      </div>
      <div class="column is-8">
        <%= recruiter.text_field :name, class: "input" %>
      </div>
    </div>

  <% end %>


  <div class="columns">
    <div class="column is-2">
      <%= form.label :time %>
    </div>
    <div class="column is-8">
      <%= form.datetime_select :time, id: :job_time %>
    </div>
  </div>


  <div class="columns">
    <div class="column is-2">
      <%= form.label :quantity %>
    </div>
    <div class="column is-8">
      <%= form.number_field :quantity, id: :job_quantity, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <%= form.label :worker_num %>
    </div>
    <div class="column is-8">
      <%= form.text_field :worker_num, id: :job_worker_num, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <%= form.label :price %>
    </div>
    <div class="column is-8">
      <%= form.text_field :price, id: :job_price, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <%= form.label :content_type, "工作内容" %>
    </div>
    <div class="column is-8">
      <div class="select">
        <%= form.collection_select(:content_type, Job.content_types, :last, :first) %>
      </div>
    </div>
  </div>


  <div class="columns">
    <div class="column is-2">
      <%= form.label :diving_num %>
    </div>
    <div class="column is-8">
      <%= form.number_field :diving_num, id: :job_diving_num, class: "input" %>
    </div>
  </div>


  <div class="columns">
    <div class="column is-2">
      <%= form.label :duration %>
    </div>
    <div class="column is-8">
      <%= form.number_field :duration, id: :job_duration, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <%= form.label :note %>
    </div>
    <div class="column is-8">
      <%= form.text_area :note, id: :job_note, class: "input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-link" %>
  </div>
<% end %>
