<p id="notice"><%= notice %></p>

<div class="container has-text-centered">
  <div class="column is-10 is-offset-1">
    <table class="table is-hoverable">
      <thead>
        <tr>
          <th></th>
          <th>日期</th>
          <th>工作内容</th>
          <th>数量</th>
          <th>价格</th>
          <th>潜数</th>
          <th>天数</th>
          <th>教练空缺数</th>
          <th>教练参与数</th>
          <th>状态</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @jobs.each_with_index do |job, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= job.time %></td>
          <td><%= job.content_type %></td>
          <td><%= job.quantity %></td>
          <td><%= job.price %></td>
          <td><%= job.diving_num %></td>
          <td><%= job.duration %></td>
          <td><%= job.worker_num %></td>
          <td><%= job.tickets.count %></td>
          <td><%= job.status %></td>
          <td><%= link_to '查看', job_path(job) %></td>
          <td><%= link_to '去认领', new_job_ticket_path(job) %></td>

        </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
