<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Recuriter</th>
      <th>Time</th>
      <th>Quantity</th>
      <th>Worker num</th>
      <th>Price</th>
      <th>Content</th>
      <th>Diving num</th>
      <th>Duration</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.recuriter_id %></td>
        <td><%= job.time %></td>
        <td><%= job.quantity %></td>
        <td><%= job.worker_num %></td>
        <td><%= job.price %></td>
        <td><%= job.content %></td>
        <td><%= job.diving_num %></td>
        <td><%= job.duration %></td>
        <td><%= job.note %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
